<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container height-full">
      <div class="masthead clearfix">
        <div class="inner">
          <div class="inner cover">
          <div ng-controller="categoriesController">


            <h1 class="cover-heading">Pick an Image</h1>
            <br/>
            <p class="lead">There's nothing like an image to inspire the best in us! Which one speaks to you? </p>
          </div>

          <div ng-controller="categoriesController">


          <table class="table table-striped table-condensed voc_list ">

          <thead>
          <tr>
          <th style="width:25%;"></th>
          <th style="width:25%;">Bezeichnung</th>
          <th style="width:25%">Zeitraum</th>
          <th style="width:25%;">Ort</th>
          </tr>
          </thead>

          <tbody>

          <tr class="listview">

          <td style="padding:15px 0px 15px 0px;"> 
          <a href="xy" title="">

            <img src="belief.jpg" class="img-responsive voc_list_preview_img" alt="" title="">

          </a>

          </td>

          <td style="padding:15px 0px 15px 0px;"> 
          <a href="xy" title="">

            <img src="2_DONE_Shield.jpg" class="img-responsive voc_list_preview_img" alt="" title="">

          </a>

<!--           <td style="width: 50%; padding:15px 15px 15px 15px;">
          <a href="xy" title="">
          <h3 class="nomargin_top">ABC</h3>
          </a>
          </td> -->

          <td style="width:10%;">
          555
          </td>

          <td>
          XYZ
          </td>






<!--               <h1 class="cover-heading">Sign Up</h1>

              <form name='signupForm' ng-submit='signup()'>
                <input type='text' ng-model='user.username' required='String'>
                <input type='password' ng-model='user.password' required='String'>
                <button class="btn-secondary">submit</button>
              </form>

              <br>

              <a class="redirectSignin" href='#/signin'>Already have an account? <strong>Click here to sign in!</strong></a> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>